# python
*.pyc
**/__pycache__/
.pytest_cache/*
.pydevproject

.idea
.idea/*

lightning_logs/

lightning_logs/*

debug/
debug/*

# IDE
# .vscode/*

# Pip
*.egg-info

# files
*.log
*.pkl
*.jpg
*.pcd

# exp
exp

# data
dataset

# lsf
*.bsub

# running scripts
scripts_dev/*

.DS_Store